* {
  font-family: sans-serif;
}

.bg-gradient {
  background: rgb(0, 212, 255);
  background: linear-gradient(25deg, rgba(0, 212, 255, 1) 2%, rgba(40, 111, 182, 1) 31%, rgba(60, 60, 145, 1) 45%, rgba(50, 49, 103, 1) 64%, rgba(199, 80, 228, 1) 89%);
  background-repeat: no-repeat;
}

.wrapper {
  width: 50%;
  margin: 50px auto;
}

.wrapper-2 {
  width: 80%;
  margin: 50px auto;
}

h1 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bg-white {
  background: white;
}

.pb-50 {
  padding-bottom: 50px;
}

.border-radius {
  border-radius: 15px;
}

input, select {
  border: 0;
  background-color: #EAEAEA;
  margin: 20px;
}

input:last-child {
  color: white;
  background-color: #FB646D;
  border-radius: 2px;
  padding: 10px 30px;
  font-weight: 600;
}
